*{
    margin: none;
    padding: none;
    box-sizing: border-box;

}

.cont-gral{
    
    margin: auto;
    margin-top: 20px;
    width: 50vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
    margin: auto;
}

button{
    width: 150px;
    height: 40px;
    margin:auto;
    background-color: #ffffff00;
    border: none;
}